<link rel="stylesheet" href="/css/home.css" />
<!-- <h1>FriendBook / <%= title %></h1> -->
<div id="home-container">
  <section id="events-users">
    <h1>Events / All Users</h1>
    <% for(user of all_users){%>
      <!-- here user is the user from the User Schema, hence contains all the fields 
      display all the users alongwith a link for user-profile -->
      <p>
        <a href="/users/profile/<%= user.id %>">
          <%= user.name %>
        </a>
      </p>
    <%}%>
  </section>
  <section id="posts-feed">
    <h1>Wall/Timeline</h1>
    <h4>Posts</h4>
    <%if(locals.user){%>
    <!-- show the form to create a post only if the user is signed in -->
    <!-- a form to create new posts -->
    <form action="/posts/create" id="new-post-form" method="POST">
      <textarea
        name="content"
        cols="60"
        rows="7"
        placeholder="Type Here..."
        required
      ></textarea>
      <input type="submit" value="Post" />
    </form>
    <!-- post create form closed -->
    <%}%>
    <!-- A container to display all the created posts -->
    <div id="posts-list-container">
      <ul>
        <% for(post of posts) {%>
        <!-- here posts is coming from home action of home_controller -->
        <!-- this is the populated posts -->
          <%- include('partials/posts'); -%>
        <% } %>
      </ul>
    </div>
    <!-- posts-list-container div closed -->
  </section>
  <section id="friends">
    <h1>Friends</h1>
  </section>
</div>
