body {
  background-color: #87d1fc; }
  body h1 {
    text-align: center; }
  body #home-container {
    display: flex; }
  body #home-container #events-users {
    width: 25%;
    height: 100vh;
    border: 1px solid grey;
    padding-bottom: 100px; }
  body #home-container #posts-timeline {
    width: 50%;
    border: 1px solid grey;
    padding-bottom: 100px;
    background-color: white; }
  body #home-container #friends {
    width: 25%;
    border: 1px solid grey;
    padding-bottom: 100px; }
