body {
  background-color: #87d1fc; }
  body h1 {
    text-align: center; }
  body #home-container {
    display: flex; }
  body #home-container #events-users {
    width: 25%;
    border: 1px solid grey;
    padding: 10px;
    padding-bottom: 100px; }
  body #home-container #posts-feed {
    width: 50%;
    border: 1px solid grey;
    padding: 10px;
    padding-bottom: 100px;
    background-color: #d1e2fd; }
    body #home-container #posts-feed textarea {
      width: 100%;
      height: 150px;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
      font-size: 16px;
      resize: none; }
    body #home-container #posts-feed input[type=submit] {
      padding: 5px 15px;
      background: #ccc;
      border: 0 none;
      cursor: pointer;
      border-radius: 13px;
      font-weight: bold; }
  body #home-container #friends {
    width: 25%;
    padding: 10px;
    border: 1px solid grey;
    padding-bottom: 100px; }
