#top-container {
  background-color: #d4d4d4;
  width: 30%;
  margin: 25px auto;
  height: max-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px; }
  #top-container #sign-in-form form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px; }
    #top-container #sign-in-form form input {
      height: 20px;
      padding: 10px;
      margin: 5px;
      border: none;
      border-bottom: 1px solid grey;
      background-color: white; }
    #top-container #sign-in-form form input[type=submit] {
      background-color: #6e6ef7;
      height: 45px;
      color: white;
      font-size: 16px;
      font-weight: bold; }
  #top-container h2 {
    margin: auto; }
  #top-container #sign-in-google {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px; }
    #top-container #sign-in-google button {
      border: none;
      height: 45px;
      padding: 10px;
      background-color: #6e6ef7;
      color: white;
      font-size: 16px;
      font-weight: bold; }
